{% extends 'SalesianosMainBundle:Admin:blog.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{{ tinymce_init() }}
{% endblock %}
{% form_theme form 'SalesianosMainBundle:Form:fields.html.twig' %}

		{% block contenido %}
		<h2>Editar empresa</h2>
			{{ form(form) }}
		{% endblock contenido %}