<html>
<head></head>
<body>
	<table style="width: 580px;border:  0;padding: 0; margin:0 auto;">
		<tbody>
			<tr>
				<td style="width:100px;background-color: #eee;padding: 20px;color:#54749C;">Usuario</td><td style="background-color: #eee;padding: 20px;">{{ usuario }}</td>
			</tr>
			<tr>
				<td style="width:100px;background-color: #eee;padding: 20px;color:#54749C;">Nombre</td><td style="background-color: #eee;padding: 20px;">{{ nombre }}</td>
			</tr>
			<tr>
				<td style="width:100px;background-color: #eee;padding: 20px;color:#54749C;">Email</td><td style="background-color: #eee;padding: 20px;">{{ mail }}</td>
			</tr>
			<tr>
				<td colspan="2" style="background-color: #eee;padding: 20px;">{{ mensaje }}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
