
{% extends '::base.html.twig' %}


		{% block main %}
		<div class="row main-row">

					<div class="3u">						
						<section>
							{{ cv.getId() }}
							
						</section>					
					</div>

					<div class="9u">

					</div>

				</div>
		{% endblock %}